html{
    font-family: sans-serif;
    padding-top: 100px;
    padding-left: 100px;

}

table,thead,tr,th,td{
    border-bottom: solid black 1px;
    border-collapse: collapse;
}


table{
    width: 700px;
    height: 300px;
}
.alt{
    background-color: antiquewhite;
}
img{
    width: 30px;
    height: 20px;
}
.tr1{
    border: solid black 1px;
}
